
*{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}

.main{
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

input{
    border: 3px solid rgb(47, 51, 59);
    height: 30px;
    border-radius: 50px;
    padding: 0px 10px;
    margin: 0 0.5rem 0 0.5rem;
    width: 200px;
    border: none;
}
